.Home_List {
  font-family: Arial;
  font-weight: bold;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #FABADA;
  background-image: url(https://www.transparenttextures.com/patterns/diagmonds.png);
}

.Home_List ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Home_List li {
  display: inline;
  margin: 1%;
}
.Home_List img {
  width: 50vw;
  height: 30vh;
  border-radius: 100%;
}

.Home_List button {
    width: 250px;
    height: 110px;
    font-size: 60px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
    background: #4433ff;
   z-index: 1;
  }
  .Home_List button:hover:after {
    width: 100%;
    left: 0;
  }
  .Home_List button:after {
    border-radius: 5px;
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    z-index: -1;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
    transition: all 0.3s ease;
    background-color: #3a86ff;
    right: 0;
  }
  .Home_List button:active {
    top: 2px;
  }